@font-face {
    font-family: PixelEmulator;
    src: url("../ressources/PixelEmulator-xq08.ttf");
}

*{
    margin:0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    height: 100%;
    font-family: "PixelEmulator",sans-serif;
    text-transform: uppercase;
}
.grille {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
    width: 550px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    background: url(../ressources/background-black.png);
    animation: background-defile 5s linear infinite;
}

@keyframes background-defile {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: 256px;
    }
}

h3 {
    text-align: center;
    margin: 20px 0;
}


.grille div img{
    width: 25px;
}

.grille div{
    width: 25px;
    height: 25px;
    border: 1px solid red;
}


.tireur {
    background: url(../ressources/vaisseau.png);
    transform: rotate(180deg);
    background-position: center;
    background-size: contain;
}
.alien {
    background: url(../ressources/ennemies.png);
    background-position: center;
    background-size: contain;
}
.boom {
    background-color: red;
}
.laser {
    background-color: orange;
}
a{
    transition: all 500ms ease-in-out;
}
